[submodule "y-backend-authorization-service"]
	path = y-backend-authorization-service
	url = git@github.com:shaynlink/y-backend-authorization-service.git
[submodule "y-types"]
	path = y-types
	url = git@github.com:shaynlink/y-types.git
[submodule "y-backend-codebase"]
	path = y-backend-codebase
	url = git@github.com:shaynlink/y-backend-codebase.git
[submodule "y-posts-service"]
	path = y-posts-service
	url = git@github.com:shaynlink/y-posts-service.git
[submodule "y-users-service"]
	path = y-users-service
	url = git@github.com:shaynlink/y-users-service.git
